/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/
body {
	box-sizing: border-box;
	font: 14px Helvetica, sans-serif;
}

/*
  ========================================
  Fixed Background
  ========================================
*/

/* !!! REMOVE WHEN READY !!! */
.bees {
	display: none;
}

.bees img {
	position: fixed;
	width: 100%;
	z-index: -1;
}

/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.container {
	width: 960px;
	margin: 0 auto;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  =========================================
  Rows
  =========================================
*/

.row {
	min-width: 960px;
	background: #fff;
}

/*
  =========================================
  Typography
  =========================================
*/

h2 {
	color: #f7882f;
	font: 120px/1.5 "Great Vibes", Helvetica, serif;
	text-shadow: 2px 2px 2px #3a4660;
}

h3 {
	font: 22px/1.5 Helvetica, sans-serif;
}

h4 {
	font-size: 18px;
	margin-bottom: 10px;
}

/*
  =========================================
  Buttons
  =========================================
*/

.btn {
	background: #f7882f;
	background: -webkit-linear-gradient(#f7882f, #e76c08);
	background:    -moz-linear-gradient(#f7882f, #e76c08);
  	background:         linear-gradient(#f7882f, #e76c08);
  	border: 0;
	border-radius: 5px;
	box-shadow: 1px 1px 5px;
	color: #000;
	display: inline-block;
	font-style: normal;
	margin-top: 35px;
	padding: 11px 30px;
	text-decoration: none;
	text-transform: uppercase;
}

.btn:hover {
	background: #d18de2;
}

/*
  =========================================
  Navigation
  =========================================
*/

nav {
	line-height: 20px;
	text-align: right;
	text-transform: uppercase;
}

nav li {
	display: inline-block;
	padding: 0 5px;
}

/*
  ========================================
  Primary header
  ========================================
*/

header {
	background: -webkit-linear-gradient(#203A43, #000);
	background:    -moz-linear-gradient(#203A43, #000);
  	background:         linear-gradient(#203A43, #000);
	height: 40px;
	padding: 10px;
}

header a {
	color: #fff;
	text-decoration: none;
}

.logo {
	font: italic 20px/20px Helvetica, serif;
	float: left;
}


/*
  ==========================================
  Landing Section
  ==========================================
*/

.landing {
	background: #fff url("../images/arts-and-crafts-bloom-cropped.jpg") 0 -120px no-repeat;
	background-size: cover;
	height: 700px;
	text-align: center;
}

.landing div {
	font-size: 22px;
	font-style: italic;
	position: relative;
	top: 300px;
}

/*
  ==========================================
  Product Showcase
  ==========================================
*/

.col-1-4 {
	border-radius: 10px 0;
	box-shadow: 0 0 8px #888;
	color: #000;
	display: inline-block;
	margin: -60px 10px 0;
	padding: 20px;
	text-align: center;
	width: 22.5%;
	vertical-align: top;
}

.col-1-4 a {
	color: #000;
	text-decoration: none;
}

.col-1-4 img {
	width: 40px;
}

.icon-wrapper {
	background-color: #fff;
	border-radius: 50%;
	height: 60px;
	margin: 0 auto 20px;
	padding: 10px;
	width: 60px;
}

.showcase {
	margin: auto;
}

.showcase li {
	display: inline-block;
}

#wedding {
	background-color: #99a6b2;
}

#birthday {
	background-color: #d18de2;
}

#anniversary {
	background-color: #e7c17e;
}

#get-well {
	background-color: #00a591;
}

/*
  ======================================
  Service Highlights
  ======================================
*/

